
.input {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  padding: 6px;
  margin-bottom: 16px;

  border-radius: 4px;
  border: 2px solid #ba88f8;

  transition: box-shadow 200ms ease-in-out;
}

input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.input:focus {
  border-color: transparent;
  outline: 2px solid #00ffc3;
  box-shadow: 0 0 10px #00ffc380, 0 0 20px #00ffc3b2, 0 0 30px #00ffc3dc;
}
