.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px;
  width: 268px;

  border: 2px solid #ba88f8;
  border-radius: 6px;
  background-color: #ffffff;

  position: relative;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-text {
  font-family: Roboto, sans-serif;
  color: #2c2c2c;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.button {
  color: #ffffff;

  display: flex;
  padding: 4px 4px;

  border: 1px solid transparent;
  border-radius: 50%;

  background-color: #ba88f8;

  cursor: pointer;

  position: absolute;
  top: -12px;
  right: -12px;

  transition: box-shadow 200ms ease-in-out;
}

.button:hover {
  box-shadow: 0 0 10px #00ffc380, 0 0 20px #00ffc3b2, 0 0 30px #00ffc3dc;
}
